# 1.Creating a Notebook (Part 1)

### 1.1-Import libraries

In [6]:
import pandas as pd
import requests
import lxml.html as lh
from bs4 import BeautifulSoup # library to parse HTML documents
print("Libraries imported.")

Libraries imported.

### 1.2-Import data from webpage

In [4]:
# get the response in the form of html
toronto_data="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(toronto_data)
print(response.status_code)

200

In [7]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

### 1.3-Convert table into Python dataframe

In [8]:
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### 1.4-Cleaning the data
removing not assigned boroughs and grouping neighborhoods in same borough

In [16]:
df = df[df.Borough != "Not assigned"].reset_index(drop=True)

In [10]:
df = df.replace(r'/',', ', regex=True)

In [12]:
for index, row in df.iterrows():
    if row["Neighbourhood"] == "Not assigned":
        row["Neighbourhood"] = row["Borough"]

In [13]:
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [14]:
df.shape

(103, 3)